	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/05/2020 03:28
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 48px;
    font-style: normal;
    margin-left: 0px;
    color: #002347;
}

.flaticon-bars-chart:before { content: "\f100"; }
.flaticon-education:before { content: "\f101"; }
.flaticon-education-1:before { content: "\f102"; }